<manifest package="com.sunfusheng.daemon"
          xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT"/>

    <application android:label="@string/app_name">

        <service
            android:name="com.sunfusheng.daemon.DaemonService"
            android:process=":daemon"/>

        <service
            android:name="com.sunfusheng.daemon.JobSchedulerService"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:process=":daemon"/>

        <receiver
            android:name="com.sunfusheng.daemon.DaemonReceiver"
            android:process=":daemon">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action
                    android:name="android.net.conn.CONNECTIVITY_CHANGE"
                    tools:ignore="BatteryLife"/>
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED"/>
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED"/>
                <action android:name="android.intent.action.PACKAGE_ADDED"/>
                <action android:name="android.intent.action.PACKAGE_REMOVED"/>

                <data android:scheme="package"/>
            </intent-filter>
        </receiver>
    </application>
</manifest>
